body {
	margin: 0px;
	padding: 0px;
	background-color: #b4c0b4;
}

.logo {
	margin-top: 20px; 
	margin-left:50px; 
	width:100px; 
	height:100px;
}

.headerCustom {
	background-color: rgb(32, 77, 46);
	display: flex;
	justify-content: flex-start;

}

.main-heading {
	margin-left: 20px;
	color: #0d4762;
}

/* NavBar */
 #navbarDiv a {
	text-decoration: none;
  }
  
  #navbarDiv ul {
	  list-style: none;
	  margin: 0;
	  padding-left: 0;
  }
  
  #navbarDiv li {
	  color: #fff;
      background: #204d2e;
	  display: block;
	  float: right;
	  padding: 1rem;
	  position: relative;
	  text-decoration: none;
	  transition-duration: 0.5s;
	  border-top-left-radius: 100%;
	  border-top-right-radius: 100%;
  }
	
  #navbarDiv li a {
	color: #fff;
  }

  #navbarDiv li ul li a:hover {
	color: #204d2e;
  }

  
  #navbarDiv li:hover,
  #navbarDiv li:focus-within {
	  background: #94bf60;
	  cursor: pointer;
  }

  
  #navbarDiv li:focus-within a {
	outline: none;
  }
  
  #navbarDiv ul li ul {
	  visibility: hidden;
	  opacity: 0;
	  min-width: 5rem;
	  position: absolute;
      transition: all 0.5s ease;
	  margin-top: 1rem;
	  display: none;

  }
  
  #navbarDiv ul li:hover > ul,
  #navbarDiv ul li:focus-within > ul,
  #navbarDiv ul li ul:hover,
  #navbarDiv ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  
  #navbarDiv ul li ul li {
	  clear: both;
	  width: 100%;
	  border-top-left-radius: 0%;
	  border-top-right-radius: 0%;
	  border: 3px solid #94bf60;
	  border-top: 0px;
	  border-bottom: 0px;
	  background-color: #94bf60;
	  text-align: center;
  }

  #navbarDiv .lastSubItem{
	border-bottom: 3px solid #94bf60;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }

  #navbarDiv .firstSubItem{
	border-top-left-radius: 5px;
  }

  #navbarDiv {
	background: #204d2e;
	color:white;
	padding-bottom:50px;
  }

  #navbarDiv .active {
	color: #204d2e;
	background-color: #b4c0b4;
  }

  .last-item-navbar {
	margin-right:50px;
}

  .first-item-navbar {
	width:100px;
	text-align: center;
}

/* FINE NAVBAR */

/* Vari personal */

#detailsContainer {
	padding: 20px;
	background-color: #CDD5D1;
	border: 10px solid #CDD5D1;
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.category {
	font-size: 15px;
	color: #8c977e;
}

.attribute {
	font-size: 30px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #0d4762;
}

.attributeLink:hover {
	color: #94bf60;
}

.nameContainer {
	font-size: 18px;
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 10px;
	border: 10px solid #CDD5D1;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

}

.darkGreenBG {
	background-color: #204d2e;
}

.lightGrayGreen {
	background-color: #b4c0b4;
}

.lightGreen {
	background-color: #94bf60;
}

.center {
    display: flex;
	justify-content: center;
}

.lato-DX {
    display: flex;
	justify-content: flex-end;
}

.lato-SX {
    display: flex;
	justify-content: flex-start;
}

/*  FINE VARI PERSONAL*/


fieldset {
	border-top: 2px solid #0d4762;
	border-bottom: 2px solid #fafafa;
	border-left: 2px solid #fafafa;
	border-right: 2px solid #fafafa;
	width: 532px;
}

legend {
	font-family: 'Julius Sans One', sans-serif;
	color: #004770;
	font-weight: bold;
}

h1, p {
	padding: 0px;
	margin: 0px;
	font-family: 'Julius Sans One', sans-serif;
	color: #004770;
}

input[type="text"] {
	font-family: 'Julius Sans One', sans-serif;
}

/* Changes placeholder text color for all major browsers */
::placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

::-ms-input-placeholder {
    color: #888;
}

input[type="button"] {
	font-family: 'Julius Sans One', sans-serif;
	color: #fff;
}

input[type="checkbox"] {
	width: 60px;
	height: 60px;
}

select {
	font-family: 'Julius Sans One', sans-serif;
	color: #888;
}

a {
	padding: 0px;
	margin: 0px;
	font-family: 'Julius Sans One', sans-serif;
}

hr {
	width: 60%;
	border-color: #fafafa;
}

header {
	width: 100%;
}

header img {
	width: 100%;
	height: auto;
	overflow: hidden;
	
}

.btn {
		padding: 0px;
		margin: 0px;
}

.decorated {
    text-decoration: underline;
}

.gradient {
  background-image: linear-gradient(to right, #57B7E4 , #115C86);
}

.container {
	width: 100%;
	padding: 0px;
	margin: auto;
	background-color: #f2f2f2;
}

.row {
	
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #c6e7c9;
}

.main-heading {
	padding: 40px 0px 10px 0px;
	font-size: 50px;
	color: #b4c0b4;

}

.description {
	font-size: 17px;
	padding: 0px 0px 0px 0px;
}

.search-bar {
	width: 277px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #89cff0;
	height: 30px;
	font-size: 16px;
	padding: 10px;
	margin-right: 10px;
}

.search-bar:hover {
	border: 2px solid #0d4762;
}

.search-button {
	width: 120px;
	border-radius: 5px 5px 5px 5px;
	background-color: #89cff0;
	border: 2px solid #89cff0;
	height:54px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.search-button:hover {
	background-color: #0d4762;
	border: 2px solid #0d4762;
}

.search-category-filter {
	height: 60px;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	width: 150px;
	border: 2px solid #89cff0;
}

.search-category-filter:hover {
	border: 2px solid #0d4762;
}	

.shadow {
    box-shadow: 0px 1px 2px 2px #E0E0E0;
    -moz-box-shadow: 0px 1px 2px 2px #E0E0E0;
    -webkit-box-shadow: 0px 1px 2px 2px #E0E0E0;
}			

@media only screen and (max-width: 765px) {
    img {
		visibility: hidden;
	}
	
	hr {
		visibility: hidden;
	}
	
	.search-bar {
		width: 100%;
		margin: 0px;
	}
	
	.search-button {
		margin-top: 20px;
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	
	.search-category-filter {
		width: 100%;
	}
}

